// Specific CSS for your home-page

h1 {
  color: #ff9a76;
  font-size: 72px;
}

.container-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30vh;
}

.fab {
  color: #ff9a76;
}

.h1-shadow {
  text-shadow: 3px 3px 15px #000000;
}
.h2-shadow {
  text-shadow: 2px 2px 10px #000000;
}


a {
  text-decoration: none;
}
