// Specific CSS for your home-page

h1 {
  color: #ff9a76;
  font-size: 72px;
}

.container-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30vh;
}

.fab {
  color: #ff9a76;
}

.h2-shadow {
  text-shadow: 4px 4px 4px 4px;
}

a {
  text-decoration: none;
}
