// Specific CSS for your home-page

h1 {
  color: #ff9a76;
  font-size: 72px;
  font-style: italic;
}

.container-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30vh;
}

.btn-primary {
  border-radius: 4px;
}

.fab {
  color: #ff9a76;
}
