<div class="mapboxgl-popup">
  <div class="mapboxgl-popup-content">
  <h2><%= butler.full_name %></h2>
  <p><%= butler.address %></p>
  <p><%= butler.languages %></p>
  <img src="https://avatars3.githubusercontent.com/u/38194756?v=4" alt="edit", class="avatar-small" />
  <p>'Best Gio-Code Ever'</p>
  </div>
</div>
