<div class="container-home">
  <section class="hero" id="hero">
    <div class="video-wrap">

        <video autoplay="autoplay" muted="muted" loop="loop" poster="media/img/vid-placeholder.jpg" class="bg-video">

        <source src="https://ak9.picdn.net/shutterstock/videos/19184839/preview/stock-footage--k-white-gloved-waiter-black-and-white-tuxedo-at-your-service-open-hands.webm" type="video/mp4">
        </video>
    </div>
      <div class="container-text">
        <div class="title">
          <h1><font color="#FF9A76">Hire</font> your next butler easily</h1>
          <h2>Find the housekeeper of your dreams and enjoy a world of service excellence </h2>
          <% if !user_signed_in? %>
            <%= link_to new_user_registration_path :butler => true do %>
              <div class="btn btn-primary">
                Butler Sign Up
              </div>
            <% end %>
            <%= link_to new_user_registration_path :butler => false do %>
              <div class="btn btn-primary">
                Client Sign Up
              </div>
            <% end %>
          <% elsif current_user.butler == true %>
            <%= link_to profile_path do %>
              <div class="btn btn-primary">
                View my profile
              </div>
            <% end %>
          <% elsif current_user.butler == false %>
            <%= link_to users_path do %>
            <div class="btn btn-primary">
                Browse a butler
            </div>
            <% end %>
          <% end %>
        </div>
  </section>
</div>
