<div class="profile-box">
  <div>
    <h2>Hello
      <% if current_user.first_name == nil %>
        <%= current_user.email %>
        <% else %>
        <%= current_user.full_name %></h2>
        <p>I'm Batman</p>
        <% end %>

      <%if current_user.first_name == nil %>
        <%= link_to "Finish you Profile (Name & address missing", edit_user_registration_path %>
      <% end %>
  </div>
<div class="avatar-box">
  <%if current_user.first_name = "Bruce" %>
  <a href="https://www.instagram.com/batman.official/?hl=en"><%= image_tag("https://images.forbes.com/media/lists/fictional/2011/bruce-wayne_197x282.jpg", class: "avatar-bruce") %></a>

  <% end %>
  </a>
</div>
</div>

