.btn-primary {
  font-family: $headers-font;
  font-size: 28px;
  background: $main-color;
  color: #FFFFFF;
  border: none;
  padding: 12px 32px;
  border-radius: 12px;
  margin-top: 50px;
  #{$btn-primary-tags-hover} {
     background: none;
     color: $main-color;
     border: 1px solid $main-color;
   }
}
.btn-secondary {
  font-family: $headers-font;
  font-size: 28px;
  padding: 4px 32px;
}
