// .btn-primary {
//   font-family: $headers-font;
//   font-size: 28px;
//   background: none;
//   color: #FFFFFF;
//   border: solid;
//   padding: 4px 32px;
//   border-radius: 24px;
//   margin: 12.5px;

//   #{$btn-primary-tags-hover} {
//     background: none;
//     color: $main-color;
//     outline: none !important;
//     box-shadow: none;
//    }
// }

.btn-secondary {
  font-family: $headers-font;
  font-size: 28px;
  padding: 4px 32px;
}


