.container-home {
  position: relative;
}

.container-text {
  width: 100vw;
  position: absolute;
  top: 50px;
  color: white;
  text-align: center;
}

.bg-video {
    /*height: 100vh;*/
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    opacity: 1.4;
    filter:opacity(70%);
}

.hero-content {
    display: flex;
    align-items: center;
    position: relative;
    top: 120px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.video-width {
  width: 100vw;
}

.container-home {
  width: 100vw;
}
